:root{
	--buttonBackGround:rgb(244, 93, 34);
    --buttonColor: rgb(224, 218, 206);
    --HoverBackGround:rgba(244, 93, 34, 0.137);
}



.Button_color{
    border: 1px solid var(--buttonBackGround);
}
.width_Notifications:hover{
	background:var(--HoverBackGround);
	border-radius: 25px;
	width: 100%;
}
.SpanNav:hover{
    color: var(--buttonBackGround);
}
.SpanNav:hover{
    color: var(--buttonBackGround);
}