:root{
	--buttonBackGround:rgb(224, 36, 94);
    --buttonColor: rgb(224, 218, 206);
    --HoverBackGround:rgba(224, 36, 96, 0.062);
}



.Button_color{
    border: 1px solid var(--buttonBackGround);
}


.width_Notifications:hover{
	background:var(--HoverBackGround);
	border-radius: 25px;
	width: 100%;
}

.SpanNav:hover{
    color: var(--buttonBackGround);
}
.color_actev{
	border: 2px solid #fff;
}
